apiVersion: apps/v1
kind: Deployment
metadata:
  name: fibonacci-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fibonacci
  template:
    metadata:
      labels:
        app: fibonacci
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port: '5000'
        prometheus.io/path: '/metrics'
    spec:
      containers:
      - name: fibonacci-app
        image: rnkbansal/fibonacci-app:latest
        imagePullPolicy: IfNotPresent  
        ports:
        - containerPort: 5000